html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{
	background-image: url("../images/bg_html.jpg");
	font-family: Arial;
}

.wrap{
	width: 940px;
	margin:auto;
}

.header{
	width: 940px;
	padding: 5px;
	margin: 10px auto;
}

.logo{
	float: left;
}

.link{
	float: right;
}

.sociallink{
	padding: 10px;
	float: right;
}

.menu ul li{
	display:inline;
	margin: 0 10px;
	font-size: 18px;
}
.menu{
	float: right;
	margin-right: 10px;
	margin-top: 15px; 
}
.about{
	color: blue;
}

.clear{
	clear: both;
}


.ad{
	width: 940px;
	background: #292929;
	height: 415px;
	margin: 20px auto;
}

.ad_pic{
	float: left;
}
.ad_word{
	float: right;
	width: 300px;
}
.title{
	color: #039EC1;
	font-size: 40px;
	margin: 40px;
}
.discribe{
	width: 220px;
	margin:20px auto;
	color: #A9A9A9;
	font-size: 18px;
	line-height: 24px;
}
.botton{
	color: #F6F6F6;
	background: #3F3F3F;
	padding: 10px;
	width: 100px;
	margin-top:20px;
	margin-left:40px; 
	font-weight:bold;
}

.content{
	width: 880px;
	background: white;
	margin:30px auto;
	padding: 10px 30px;
	font-weight:bold;
	line-height: 25px;
}

.news{
	width: 940px;
	background: white;
	margin:30px auto 50px auto;
}

.news-left{
	width: 600px;
	float: left;
	margin-bottom: 30px;
}
.area{
	margin-left:30px;
	margin-top:25px;
	font-size: 25px;
	font-weight: bold;
}

.latest-pic{
	margin:20px 25px 5px 30px;
	float: left;
}

.latest-title{
	margin: 20px auto 10px 0px;
	float: right;
	width: 350px;
	font-weight: bold;
	font-size: 18px;
}
.latest-word{
	margin: 0px auto 10px 0px;
	float: right;
	width: 350px;
	line-height: 19px;
	font-size: 16px;
}



.news-right{
	width: 340px;
	float: left;
}

.list ol li{
	list-style-type: none;
	list-style-image: url(../images/dot_blue.gif);
}
.list{
	margin-left:40px;
	margin-top:10px;
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 30px;
}
.submit{
	margin-left:35px;
	margin-top:10px;
}
.text{
	padding:10px;
}
.search{
	background: #F4F4F4;
	padding: 10px;
	width: 70px;
	margin-top:10px; 
	font-weight:bold;
}


span{
	color: #01A5CA;
}

.footer{
	width: 940px;
	margin: 10px auto;
	text-align: center;
	line-height: 30px;
}
